<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info Windows</title>

    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>

  </head>
  <body>


    <div id="map" style="width: 700px; height: 500px;"></div>


    <script src="./js/ref_firebase.js"></script>
    <!-- <script  src="./js/autentificacion.js"></script> -->
    <script src="./js/busqueda_mapa.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr2-lyq7o5vDRj9JyEOTELG_lDwvEwcuA&callback=initMap">
    </script>

  </body>
</html>
