<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<!-- referencia cnd boostrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!-- referencia base de datos firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>

  </head>
  <body>

    <div id = "v_perfil" class="container">
      <div class="row">
        <div class="span2">
          <img id="imagen1" class="img-responsive" alt="" style="width: 250px; height: 150px; margin:auto;">
        </div>
        <div class="span4">
          <blockquote>
            <p id="nombreUser">Nombre:</p>
            <!-- <small><cite title="Source Title">Gotham, United Kingdom  <i class="icon-map-marker"></i></cite></small> -->
          </blockquote>
          <p>
            <a id="cv1">Ver CV aquí</a><br>
            <a id="antecedente1">Ver Antecedentes Penales</a> <br>
            <i class="icon-globe"></i><label id="apellidoUser" >Apellido: </label> <br>
            <i class="icon-gift"></i><label id="dniUser">DNI: </label> <br>
            <i class="icon-envelope"></i> <label id="oficioUser">Especialidad: </label> <br>

            <button id="botonEditar" class="btn btn-outline-secondary btn-block" onclick="editar()">Contactar</button>
            <a class="btn btn-success btn-block" href="../index.html">Regresar al inicio</a>
          </p>
        </div>
      </div>
    </div>

    <!-- javascript opcional de proyecto -->
    <script src="./js/ref_firebase.js"></script>
    <!-- <script src="./js/autentificacion.js"></script> -->
    <script src="./js/editar_usuario.js"></script>
    <!-- boostrap javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
