<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<!-- referencia cnd boostrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- referencia base de datos firebase -->

    <!-- <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script> -->

    <!-- <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script> -->

  </head>
  <body>

    <a>Registro usuario</a><br>
    <!-- subir fotos -->
    <!-- <div>
      <div class="form-group">
        <label for="exampleFormControlFile1">seleccione Foto</label>
        <input type="file" class="form-control-file" name="user" id="imgUser">
      </div>
    </div> -->

    <!-- datos generales -->
    <input id="nombreUser" type="text" placeholder="Ingrese nombre"></br>
    <input id="apellidoUser" type="text" placeholder="Ingrese apellido"></br>
    <input id="dniUser" type="text" placeholder="Ingrese DNI"></br>
    <input id="oficioUser" type="text" placeholder="Ingrese oficio"></br>

    <input id="emailUser" type="email"placeholder="Ingrese Email"></br>
    <input id="passUser" type="password" placeholder="Ingrese contrasena"></br>
    <p></p>
    <p>Ingrese su ubicación referencial</p>
    <div id="registroMap" style="width: 400px; height: 300px;">
    </div>

    <button type="button" name="button" onclick="registrar()">Registrarse</button>

    <a href="../index.html">Regresar al inicio</a>


    <!-- javascript opcional de proyecto -->
    <script  src="./js/ref_firebase.js"></script>
    <script  src="./js/registro.js"></script>
    <!-- boostrap javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr2-lyq7o5vDRj9JyEOTELG_lDwvEwcuA&callback=initMap">
    </script>

  </body>
</html>
